.header {
  padding-top: 0.5rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  padding: 0.4rem;
}

.header__title {
  font-size: 1rem;
}

.header__button {
  padding-inline: 0.8rem;
  background: none;
  border: none;
  transition: color 250ms ease-in-out;
}

.header__button:not(:first-child) {
  border-left: 3px solid black;
}

.header__button--active {
  color: #446889;
}

.header__date {
  text-align: right;
}

@media (min-width: 500px) {
  .header__title {
    font-size: 1.4rem;
  }
}
